@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "hydranet";
  default: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(0.359 0.083 181.2);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #2b7d88;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.729 0.208 167.2);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #2b2d30;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #62b5f8;
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(0.699 0.185 164.4);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: #f4c65a;
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: #e1574c;
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "black";
  prefersdark: true;
}

.tektur-400 {
  font-family: "Tektur", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
